{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Productos Detalle
{% endblock %}

{% block my_blog_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/header-arletina.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row align-items-center gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center text-lg-start">
                <div class="text-center text-lg-start site-heading">
                    <h1 class="display-4 fw-bold lh-1 mb-3">{{ shop.name }} {{ shop.modelo }} </h1>
                    <p class="col-lg-10 fs-4 subheading">Linea Arletina Intima</p>
                    <div class="mx-auto">
                        <a class="btn btn-primary text-uppercase" href="{% url 'shop:shop-add' %}">Crear nuevo producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block my_blog_content %}
<!-- Post preview-->
<div class="post-preview">
    <h3 class="post-subtitle">Tipo: {{ shop.name }}</h3>
    <p class="col-lg-10 fs-5 subheading post-meta">Colección: {{ shop.collection }}</p>
    <div class="mx-auto">
        <a class="btn btn-primary text-uppercase" href="{% url 'shop:shop-update' shop.id %}"><i class="fa fa-pencil"></i> Editar</a>
        <a class="btn btn-primary text-uppercase" href="{% url 'shop:shop-delete' shop.id %}"><i class="fa fa-trash"></i> Eliminar</a>
    </div>
</div>
{% endblock %}


